@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  text-align: center;
  padding-bottom: 3vh;
  background-image: linear-gradient(rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
}
.App h1{
  font-family: 'Alkatra', cursive;
  font-size: 50px;
}